/* fundo da tela de cadastro e login  */
body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
    background-color: black;
}
.background{
    background-color: rgb(221, 71, 7);
}

.header{
    border-bottom:1px solid #d76112;
}
.container ul{
    text-decoration: none;
    display: flex;
    width: 700px;
    justify-content: space-evenly;
    list-style:none;
    text-shadow: 1px 1px 5px #d76112;
}
.header .container{
    justify-content: space-around;
    align-items: center;
}
ul a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    color: #d76112;
    width: 700px;
}

/* .motinha{
    display: flex;
} */

/* .background{
    background-image: url("../imagens/oie_50256ARCANd76.gif");
    background-size: cover;
} */

.motinha{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: -45%;
}

.card{
    width: 50vw;
    height: 100vh;
    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.conteudo{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
    box-shadow: 10px -5px 20px rgb(0, 0, 0);
    background: rgba(3, 3, 3, 0.889);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    
}
/* .conteudo p{
    font-size: 20px;
} */

.cor {
    font-size: 15px;
    color: #d76112;
    text-shadow: #d76112 1px 1px 5px;
}

.cor a{
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    text-shadow: #ffffff 1px 1px 5px;
}

input{
    
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: white;
    color: black;
    font-size: 12pt;  
    outline: none;
    box-sizing: border-box;
}
input::placeholder{
    color: var(--black1);
}

button{
    width: 50%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    font-weight: 800;
    letter-spacing: 3px;/* letter-spacing do texto é usada para controlar o espaço em branco entre as letras. */
    color: var(--white);
    background-color: black;
    cursor: pointer;
    background-color: black;
    background-image: linear-gradient( to right, rgb(12, 12, 12), transparent, rgb(208, 93, 5) ); 
}

select{
    width: 50%;
    height: 30px;
    border-radius: 10px;
}

/* .card-laranja {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d76112;
    width: 40%;
    height: 100vh;
    float: left;
    color: #ffffff;
    box-shadow: 0 1px 5px #000000;
}

.card-txt-cadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    height: 80vh;
}

.btn-cad-moto{
    border-radius: 7px;
    text-transform: uppercase;
    color: #000000;
    font-size: 0.85em;
    margin-top: 5vh;
    padding: 10px 50px;
    cursor: pointer;
}

.btn-cad-usuario{
    color: #000000;
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.fundo{
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */
